<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Posts</h1>
      <ul>
        <app-post-list-component *ngFor="let post of posts"
                                  [title]="post.title"
                                  [content]="post.content"
                                  [loveIts]="post.loveIts"></app-post-list-component>
      </ul>
    </div>
  </div>
</div>
