<li [ngClass]="{'list-group-item': true,
				'list-group-item-success': loveIts > 0,
				'list-group-item-danger': loveIts < 0}">
	<div class="d-flex w-100 justify-content-between">
		<h4 [ngStyle]="{color: getColor()}">{{ title }}</h4>
		<small>{{ laDate | date:'short'}}</small>
	</div>
	<p>{{ content }}</p>
	<button class="btn btn-success"
			(click)="onLove('love')">Love</button>
	<button class="btn btn-danger"
			(click)="onLove('nolove')">Don't love</button>
</li>
